@use '../../assets/styles/variables';
@use '../../assets/styles/functions';

.logement {
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__tag {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: functions.getResponsiveSize(84, 115);
        min-height: functions.getResponsiveSize(18, 25);
        background-color: variables.$primary-color;
        color: variables.$secondary-color;
        font-size: functions.getResponsiveSize(10, 14);
        padding: 0 functions.getResponsiveSize(10, 20);
        border-radius: functions.getResponsiveSize(5, 10);
        text-align: center;
    }
}