@use '../../assets/styles/variables';
@use '../../assets/styles/functions';

.slideshow {
    position: relative;
    width: 100%;
    height: functions.getResponsiveSize(255, 415);

    &__picture {
        width: 100%;
        height: 100%;
        border-radius: functions.getResponsiveSize(10, 25);
        object-fit: cover;
        transition: opacity 500ms linear;

        &--fadein {
            opacity: 1;
        }

        &--fadeout {
            opacity: 0;
        }
    }

    &__count {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 25px;
        color: variables.$secondary-color;
        font-size: functions.getResponsiveSize(14, 18);

        @media screen and (max-width: 690px) {
            display: none;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        color: variables.$secondary-color;
        border: none;
        padding: functions.getResponsiveSize(7, 25);
        background: none;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

        svg {
            font-size: functions.getResponsiveSize(24, 72);
        }
    }
}