@use '../../assets/styles/variables';
@use '../../assets/styles/functions';

.collapses {
    width: 100%;
}

.collapse {
    width: 100%;

    &__detail {
        &[open] {
            background-color: variables.$light-grey;
        }

        &--about {
            border-radius: 5px 5px 0 0;
        }

        &--logement {
            border-radius: 10px 10px 0 0;
        }
    }

    &__title {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: variables.$primary-color;
        color: variables.$secondary-color;
        width: 100%;
        height: functions.getResponsiveSize(30, 53);
        padding: 10px functions.getResponsiveSize(15, 20) 10px 10px;

        &--about {
            border-radius: 5px;
            font-size: functions.getResponsiveSize(13, 24);
        }

        &--logement {
            border-radius: 10px;
        }
    }

    &__button {
        padding-top: 6px;

        svg {
            font-size: functions.getResponsiveSize(20, 28);
            transition: rotate 500ms ease-in-out;

            .collapse__detail[open] & {
                rotate: -180deg;
                transition: rotate 500ms ease-in-out;
            }
        }
    }

    &__content {
        width: 100%;
        background-color: variables.$light-grey;

        &--about {
            border-radius: 0 0 5px 5px;
        }

        &--logement {
            border-radius: 0 0 10px 10px;
        }

        p:first-child {
            padding-top: 20px;
        }

        p {
            padding: 0 20px;
            font-size: functions.getResponsiveSize(12, 18);
        }

        p:last-child {
            padding-bottom: 20px;
        }

        /*BEGIN animation dependent rules
        See this trick : https://dev.to/jgustavoas/solved-how-to-fully-animate-the-details-html-element-with-only-css-and-no-javascript-55ek */

        .collapse__detail[open]+& {
            max-height: 600px;
            transition: max-height 500ms ease-in-out;
        }

        max-height: 0;
        overflow: hidden;
        transition: max-height 500ms ease-in-out;

        /*END animation dependent rules */
    }
}

//Fix for Safari displaying the details marker (triangle on the left) even with display: block; or display: flex;
summary::-webkit-details-marker {
    display: none
}