@use '../../assets/styles/variables';
@use '../../assets/styles/functions';

.header {
    margin: functions.getResponsiveSize(20, 45) functions.getResponsiveSize(20, 100) functions.getResponsiveSize(27, 50) functions.getResponsiveSize(20, 100);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: functions.getResponsiveSize(145, 210);
        color: variables.$primary-color;

        @media screen and (max-width: 375px) {
            width: calc(30px + (100vw - 200px) / (375 - 200) * (145 - 30));
        }
    }
}

.navbar {
    &__list {
        display: flex;
        gap: functions.getResponsiveSize(26, 60);
    }

    &__link {
        color: variables.$primary-color;
        font-size: functions.getResponsiveSize(12, 24);

        @media screen and (max-width: 690px) {
            text-transform: uppercase;
        }
    }
}