@use '../../assets/styles/variables';

.footer {
    padding: 35px;
    height: 209px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: black;

    &__credits {
        color: variables.$secondary-color;
        font-size: 24px;
    }
}