@use '../../assets/styles/variables';
@use '../../assets/styles/functions';

.footer {
    padding: 35px;
    height: 209px;
    display: flex;
    flex-direction: column;
    gap: functions.getResponsiveSize(15, 40);
    justify-content: center;
    align-items: center;
    background-color: black;

    &__logo {
        width: 122px;
        color: variables.$secondary-color;
    }

    &__credits {
        width: 39%;
        color: variables.$secondary-color;
        text-align: center;
        font-size: functions.getResponsiveSize(12, 24);
    }
}