@use '../../assets/styles/variables';
@use '../../assets/styles/functions';

.page-not-found {
    display: flex;
    flex-direction: column;
    gap: 140px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px functions.getResponsiveSize(57, 100);
    margin-bottom: functions.getResponsiveSize(15, 40);
    color: variables.$primary-color;

    &__title {
        width: 100%;
        font-weight: 700;
        font-size: functions.getResponsiveSize(96, 288);
    }

    &__subtitle {
        width: 100%;
        font-size: functions.getResponsiveSize(18, 36);
    }

    & a {
        text-decoration: underline;
        color: variables.$primary-color;
        font-size: functions.getResponsiveSize(14, 18);
    }
}